.card-area {
    width: 70px;
    height: 100px;
    border: 3px solid black;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transition: .7s;


}

/* 앞면 , 뒷면 */
.card>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.card-front {
}

.card-back {
    transform: rotateY(180deg);
}

.flip>.card {
    transform: rotateY(180deg);

}

main {
    background-color: rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-auto-rows: 120px;
    place-items: center center;
    place-content: center center;
}